@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=RocknRoll+One&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;
  scroll-behavior: smooth;
}


h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  font-weight: 600;
  font-size: 2.5rem;
}

h2 {
  font-size: 3.125rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

h4 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  font-weight: 600;
}

.banner-img {
  /* The image used */
  background-image: url('https://isocietymanager.com/fronts/images/hero-3.jpg');
  /* Full height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.banner-content {
  padding-top: 160px;
  padding-bottom: 100px;
}

.bg-tra {
  padding: 1.875rem 1rem;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}

.scrolled {
  background-color: #fcfcfc !important;
  box-shadow: 0 0 2px rgba(50, 50, 50, 0.4);
  padding: 0.875rem 1rem;

}

.header-social-links {
  position: fixed;
  right: 0;
  top: 35%;
  margin-right: 10px;
  color: #fff !important
}

.header-social-links div {
  width: 40px;
  height: 40px;
  line-height: 42px !important;
  font-size: 20px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 400ms ease-in-out;
  cursor: pointer;

}

.chaticon {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 20px;
  color: #000;
  right: 75px;
  bottom: 20px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
  position: fixed;
  z-index: 12;
  font-weight: 400;
  background: #fff;
  transform: translateY(0px);
  animation: float 2s ease-in-out infinite;
  border-radius: 50px;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.header-social-links:hover {
  background-color: unset !important;

}

.header-social-links .fb {
  background-color: #3b5998;

}

.header-social-links .ins {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.header-social-links .twi {
  background-color: #00a9ed;
}

.header-social-links .lik {
  background-color: #015886;
}

.header-social-links .yt {
  background-color: #cd1b20;
}

.whatsappicon {
  cursor: pointer;
  border-radius: 3px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: 2%;
  bottom: 20px;
  box-shadow: 0 3px 14px 0 rgba(84, 212, 105, 0.4);
  position: fixed;
  z-index: 12;
  font-weight: 400;
  background: #52d467;
  transform: translateY(0px);
  border-radius: 50px;

}


.nav-links ul li {
  list-style: none;
  padding: 10px 15px;
  color: rgba(255, 255, 255, .85);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.nav-links ul li:hover {
  background-color: rgba(240, 240, 240, 0.2);
  border-radius: 5px;
}

.nav-links ul {
  gap: 10px;
}

.banner-text {
  color: #fff;
}

.banner-para {
  font-family: 'Josefin Sans';
  letter-spacing: 1px;
}

.banner-btns {
  gap: 15px;
  margin-top: 20px;
}

.banner-btns button {
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  background-color: #28a745;
  outline: none;
}

.banner-btns button:hover {
  background-color: #218838;
}


/* next section start  */
.video-section {
  padding: 140px 0;
}

.refer {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.video-section {
  background-image: linear-gradient(129deg, rgba(35, 27, 195, 0.7), rgba(152, 19, 177, 0.85));
}

.letter-spacing {
  letter-spacing: 2px;
}

h4.h4-lg {
  font-size: 1.25rem;
}


.youtube-embed {
  height: 480px;
  width: 100%;
}

.content-2-list li {
  list-style: none;
}

.cbox {
  display: flex;
  gap: 10px
}


.statistic-block h4 {
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.content-2,
.content-3 {
  padding: 60px 0;
}

.content-5 {
  background-color: #f5f5f5;
  ;
}

.content-6 {
  background-color: #343a40 !important;
  background-image: url("https://isocietymanager.com/fronts/images/tra-bg2.png");
  width: 100%;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffff;
}

.slider-container .d-flex {
  gap: 20px;
}

.slick-dots li button:before {
  color: #ffff !important;
  font-size: 12px;
  line-height: 65px;
}

.statistic-number {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 700;
}

.iSociety {
  font-size: 18px;
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
}

.grey-color {
  color: #666;
}

.line-center {
  border: 1px solid white;

}

.slider-feedback-item-content {
  margin-bottom: 78px;
  margin-top: 20px;
}

.slider-feedback-item-content p {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

.slider-content-container {
  position: relative;

}

.slider-feedback-item-content img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.owner-sl {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.owner-sl span {
  font-size: 13px;
  font-weight: 500;
  font-family: sans-serif
}


.slider-feedback-item {
  background: linear-gradient(129deg, rgba(35, 27, 195, 0.7), rgba(152, 19, 177, 0.85));
  min-height: 450px;
  max-height: 1000px;
}

.slider-feedback-item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.slider-feedback-container .slick-dots li button:before {
  color: #1e1919 !important;
}

.v-2 {
  background-image: linear-gradient(129deg, rgba(35, 27, 195, 0.7), rgba(152, 19, 177, 0.85)) !important;
}

.footer h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer ul li {
  list-style: none;
  color: #444;
  font-size: 0.95rem;
  cursor: pointer;
  margin-bottom: 10px;
}





@media screen and (max-width: 993px) {
  .nav-links ul li {
    display: none;
  }

  h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .statistic-number {
    font-size: 3.15rem;
    letter-spacing: -0.5px;
  }

  .statistic-block h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.50rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.1rem;
  }

  .video-titles {
    text-align: center;
  }

  .video-section {
    padding: 85px 0;
  }

  .youtube-embed {
    width: 100%;
    height: 231px;
  }

  .banner-main-text,
  .banner-para {
    text-align: center;
  }

  .store-icons img {
    margin: 0 2px !important;
  }

  .slider-feedback-item-content p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1.35rem;
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  .content-2-img {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-2-list {
    margin-bottom: 20px;
  }

  .content-2-list li {
    margin-bottom: 10px;
  }

  .content-2-list li:last-child {
    margin-bottom: 0;
  }

  .content-2-list li p {
    font-size: 14px;
  }

  .statistic-number {
    font-size: 3rem;
    letter-spacing: -0.5px;
  }

  .our-clients img {
    width: 100%;
  }
}